body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    position:fixed;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
  
nav ul li {
    list-style: none;
    margin: 2px;
    padding: 12px;
    background-color: grey;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 32px;
    font-family: "Gothic A1", sans-serif;
}

main p{
    border: 2px solid black;
}

main img{
    max-height: 100px;
}

footer {
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: gray;
    text-align: right;
  }